<body>
  <main class="form-signin">
    <h1 class="pb-3">
      <span class="badge bg-secondary">Cadastro de usuário</span>
    </h1>
    <form>
      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          id="userName"
          placeholder="nome@exemplo.com.br"
        />
        <label class="form-label" for="userName">Nome</label>
      </div>

      <div class="mb-3 form-floating">
        <input
          type="email"
          class="form-control"
          id="userEmail"
          placeholder="nome@exemplo.com.br"
        />
        <label for="userEmail" class="form-label">Email</label>
      </div>

      <div class="mb-3 form-floating">
        <input
          type="password"
          class="form-control"
          id="userPassword"
          placeholder="password"
        />
        <label for="userPassword" class="form-label">Senha</label>
      </div>

      <div class="form-floating">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>
  </main>
</body>
