<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>TSS Finance</title>
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form>
        <img
          class="mb-4"
          src="/assets/TSSFinance.svg"
          alt="Logo Marca"
          width="200"
        />
        <h1 class="h3 mb-3 fw-normal">Faça o login</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">E-mail</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Senha</label>
        </div>

        <div class="form-floating d-flex flex-row gap-3">
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Entrar
          </button>

          <a
            class="w-100 btn btn-lg btn-light btn-outline-primary"
            routerLinkActive="active"
            routerLink="/cadastro-usuario"
            >Cadastrar</a
          >
        </div>
      </form>
    </main>
  </body>
</html>
